<%= form_with(model: [:admin, category], local: true) do |f| %>
  <%= render 'layouts/error', this_model: @category %>
  
  <div class="mb-3" >
    <h6>Categorty name:</h6>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  
  <div class="mb-3" >
    <h6>Description:</h6>
    <%= f.text_area :description, class:"form-control", rows:"3" %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>
